body {
    
  }
  
  h1 {
    
  }

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    padding: 15px;
  }
  
  /* Clear floats after the columns */
  .row::after {
    content: "";
    display: table;
    clear: both;
  }

  .container {
    position: relative;
    width: 100%;
    height: 100vh; /* Adjust height as needed */
    overflow: hidden;
}

.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("./assets/blur_bg.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.5; /* Adjust the opacity as needed */
    z-index: -1; /* Place it behind the content */
}

.content {
    position: relative;
    z-index: 1;
}
.card{
  height: 50%;
  width: auto;
  background: #f3f2f2;
  margin: 5% 5%;
}